---
import FeaturesNavs from "../features/FeaturesNavs.astro";

import AbountOne from "@images/about/about_1.webp";
import AbountTwo from "@images/about/about_2.webp";
import AbountThree from "@images/about/about_3.webp";
---
<section id="about" class="my-20">
  <FeaturesNavs
    title=`About Us`
    subTitle=`Welcome to our <span class="text-yellow-500 dark:text-yellow-400">family</span> in the world of dreams come true!`
    tabs={[
      {
        heading: "Cutting-Edge Tools",
        content:
          "En Le Mariage, nos enorgullece presentarnos como tu socio de confianza en la creación de momentos inolvidables en Cartagena y más allá.",
        svg: "tools",
        src: AbountOne,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Intuitive Dashboards",
        content:
          "En el corazón de nuestra empresa yace una pasión inquebrantable por la excelencia en la planificación de bodas y eventos.",
        svg: "dashboard",
        src: AbountTwo,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
      },
      {
        heading: "Robust Features",
        content:
          "Nos esforzamos por superar tus expectativas en cada paso del camino, llevando tus ideas desde la concepción hasta la realización con estilo y un toque personal incomparable.",
        svg: "house",
        src: AbountThree,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />
</section>