---
import { Image } from "astro:assets";

const imagesLand = import.meta.glob('/src/images/values/land/values_*.jpg', { eager: true });
// @ts-ignore
const imageArrayLand = Object.values(imagesLand).map((image) => ({ ...image, mode: 'land' }));

const alt = "Bodas en Cartagena";
---

<!-- Slider main container -->
<div id="wedding-slider-land" class="relative">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {imageArrayLand.map((image) => (
      <div class="swiper-slide">
        <Image class="w-full aspect-[5/3] object-cover" src={image.default} alt={alt} />
      </div>
    ))}
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<script>
  // core version + navigation, pagination modules:
  import Swiper from 'swiper';
  import { Navigation, Pagination, Autoplay } from 'swiper/modules';
  // import Swiper and modules styles
  import 'swiper/css';
  import 'swiper/css/navigation';
  import 'swiper/css/pagination';
  import 'swiper/css/autoplay';

  const selector = document.getElementById('wedding-slider-land');

  // init Swiper:
  // @ts-ignore
  new Swiper(selector, {
    // configure Swiper to use modules
    modules: [Navigation, Pagination, Autoplay],
    autoplay: {
      delay: 5000,
    },
    loop: true,
    slidesPerView: 1,
    spaceBetween: 40,
    scrollbar: {
      el: '.swiper-scrollbar',
    },
    navigation: {
      prevEl: ".swiper-button-prev",
      nextEl: ".swiper-button-next",
    }
  });
</script>