---
// Este componente muestra un modal con un código de descuento
---

<div id="discount-modal" class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50 hidden">
  <div class="bg-white p-8 rounded-lg shadow-lg text-center">
    <h2 class="text-2xl font-bold mb-4">¡Descuento Especial!</h2>
    <p class="mb-4">Obtén un <strong>10% de descuento</strong> en tu primera reserva con el código:</p>
    <p class="font-bold text-lg mb-4">CARTAGENA10</p>
    <button class="bg-yellow-500 text-white px-4 py-2 rounded" id="close-modal-btn">Cerrar</button>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const modal = document.getElementById('discount-modal');
    const closeModalBtn = document.getElementById('close-modal-btn');

    // Verifica si 'modal' y 'closeModalBtn' no son nulos
    if (modal && closeModalBtn) {
      // Muestra el modal después de 2 segundos al cargar la página
      setTimeout(() => {
        modal.classList.remove('hidden');
      }, 2000);

      // Cierra el modal cuando se hace clic en el botón
      closeModalBtn.addEventListener('click', () => {
        modal.classList.add('hidden');
      });
    } else {
      console.error('Modal o closeModalBtn no encontrados en el DOM');
    }
  });
</script>
